<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add destination</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link th:href="@{../static/css/style.css}" rel="stylesheet" />
</head>
<body>
<h1>Add destination</h1>

<form th:action="@{/addDestination}" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${destination?.name}" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description" th:text="${destination?.description}" required></textarea>

    <label for="price">Price:</label>
    <input type="number" step="0.01" id="price" name="price" th:value="${destination?.price}" required>

    <label for="images">Upload Images:</label>
    <input type="file" id="images" name="images" multiple required>

    <button type="submit">Save</button>
</form>

<a href="/destinationManagement">Back</a>
</body>
</html>
