<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination Management</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link th:href="@{../static/css/style.css}" rel="stylesheet" />
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table th, table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        table th {
            background-color: #f4f4f4;
        }

        a {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Tourist Destinations</h1>
<a href="/addDestination">Add New Destination</a>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date of departure</th>
        <th>Date of return</th>
        <th>Price</th>
        <th>Max people</th>
        <th>Image</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="destination : ${destinations}">
        <td th:text="${destination.name}"></td>
        <td th:text="${destination.description}"></td>
        <td th:text="${destination.dateOfDeparture}"></td>
        <td th:text="${destination.dateOfReturn}"></td>
        <td th:text="${#numbers.formatDecimal(destination.price, 2, 2)} + ' lv.'"></td>
        <td th:text="${destination.limitedPeople}"></td>
        <td>
            <img th:src="@{'/uploaded-image/' + ${destination.imageUrl}}" alt="Image" style="width: 100px;">
        </td>
        <td th:text="${destination.status}"></td>
        <td>
            <div sec:authorize="hasAuthority('ADMIN')">
                <form th:if="${destination.status == 'PENDING-ACCEPT' || destination.status == 'PENDING-EDIT' || destination.status == 'PENDING-DELETE'}"
                      th:action="@{'/approveRequest/' + ${destination.id}}"
                      method="post"
                      style="display:inline;">
                    <button type="submit">Accept</button>
                </form>
                <form th:if="${destination.status == 'PENDING-ACCEPT' || destination.status == 'PENDING-EDIT' || destination.status == 'PENDING-DELETE'}"
                      th:action="@{'/declineRequest/' + ${destination.id}}"
                      method="post"
                      style="display:inline;">
                    <button type="submit">Decline</button>
                </form>
                <th:block th:if="${destination.status != 'PENDING-ACCEPT' and destination.status != 'PENDING-DELETE' and destination.status != 'PENDING-EDIT'}">
                    <a th:href="@{'/editDestination/' + ${destination.id}}">Edit</a>
                    <form th:action="@{'/delete/' + ${destination.id}}" method="post" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </th:block>
            </div>
            <div sec:authorize="hasAuthority('MANAGER')">
                <th:block th:if="${destination.status != 'PENDING-ACCEPT'}">
                    <a th:if="${destination.editApproved}" th:href="@{'/editDestination/' + ${destination.id}}">Edit</a>
                    <form th:if="${!destination.editApproved}" th:action="@{'/requestEdit/' + ${destination.id}}" method="post" style="display:inline;">
                        <button type="submit">Request Edit</button>
                    </form>
                    <form th:action="@{'/requestDelete/' + ${destination.id}}" method="post" style="display:inline;">
                        <button type="submit">Request Delete</button>
                    </form>
                </th:block>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
