<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit destination</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link th:href="@{../static/css/style.css}" rel="stylesheet" />
</head>
<body>
<h1>Edit destination</h1>

<form th:action="@{'/editDestination/' + ${destination.id}}" method="post" enctype="multipart/form-data">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" th:value="${destination.name}" required>

  <label for="description">Description:</label>
  <textarea id="description" name="description" th:text="${destination.description}" required></textarea>

  <label for="dateOfDeparture">Date of departure:</label>
  <input type="date" id="dateOfDeparture" name="dateOfDeparture" th:value="${destination.dateOfDeparture}" required>

  <label for="dateOfReturn">Date of return:</label>
  <input type="date" id="dateOfReturn" name="dateOfReturn" th:value="${destination.dateOfReturn}" required>

  <label for="price">Price:</label>
  <input type="number" step="0.01" id="price" name="price" th:value="${destination.price}" required>

  <label for="limitedPeople">Max number of people:</label>
  <input type="number" id="limitedPeople" name="limitedPeople" th:value="${destination.limitedPeople}" required>

  <img th:src="@{'/uploaded-image/' + ${destination.imageUrl}}" width="100" />

  <label for="image">Change image:</label>
  <input type="file" id="image" name="image" accept="image/*">

  <button type="submit">Edit</button>
</form>

<a href="/destinationManagement">Back</a>
</body>
</html>
