<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Управлявай рейтинги</title>
    <meta charset="utf-8">
</head>
<body>
<h1>Рейтинги по дестинации</h1>

<!-- Display all destinations and their ratings -->
<th:block th:each="destination : ${allDestinations}">
    <br>
    <h2 th:text="${destination.name}"></h2>
    <p>Дата на заминаване: <span th:text="${#temporals.format(destination.dateOfDeparture, 'dd-MM-yyyy')}"></span></p>
    <p>Дата на връщаве: <span th:text="${#temporals.format(destination.dateOfReturn, 'dd-MM-yyyy')}"></span></p>
    <th:block th:if="${ratingsByDestination.containsKey(destination)}">
        <table>
            <tr>
                <th>Потребител</th>
                <th>Имейл</th>
                <th>Рейтинг</th>
                <th>Коментар</th>
                <th>Дата</th>
            </tr>
            <th:block th:each="rating : ${ratingsByDestination.get(destination)}">
                <tr>
                    <td th:text="${rating.user.fullName}"></td>
                    <td th:text="${rating.user.email}"></td>
                    <td th:utext="${'&#11088;'.repeat(rating.stars)}"></td>
                    <td th:text="${rating.comment}"></td>
                    <td th:text="${#temporals.format(rating.timestamp, 'dd-MM-yyyy HH:mm')}"></td>
                    <td>
                        <!-- Add a delete button -->
                        <form th:action="@{/deleteRating/{ratingId}(ratingId=${rating.id})}" method="post">
                            <button type="submit">Изтрий</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
    </th:block>

    <!-- If no ratings exist -->
    <th:block th:if="${!ratingsByDestination.containsKey(destination)}">
        <p>Няма налични рейтинги за дестинацията</p>
    </th:block>
</th:block>

<a href="/destinations">Върни се в главната страница</a>
</body>
</html>
